html {
  width: 100vw;
}

body{
  font-family: 'Martel Sans', sans-serif;
  font-weight: 400;
}

#spinner{
  padding-top:50px;
  padding-bottom: 100px;
  margin:auto;
  width:40%;
  max-width:300px;
  text-align: center;
}

/* ADDED */
#img-spinner{
  margin:auto;
  width:100%;
  text-align: center;
}

.table{
  width:100%;
}
th {
  cursor: pointer;
}
footer{ 
  background-color: black;
  color:darkgray;
  text-align:center;
  font-size:12px;
  margin-bottom: -15px;
  padding-top:25px;
  padding-bottom: 25px;
  border-top: 2px solid darkblue;
}

.signin, .signout{
  margin:15px 15px 0px 0px;
  border-radius: 5px;
  padding:5px;
}

.fav{
  margin:15px 4px 0px 0px;
  border-radius: 5px;
  padding:5px;
}

/* ADDED */
.header_row{
  background-image: url("../images/logo.jpg");
  background-color: white;
  background-size: 600px;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin: 0 auto;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.map_row{
  margin: 20px 0px; 
  text-align: center;
  display: none;
}
  .map_row img{
  width:100%;
  border-radius: 5px;
}

.table_row{
  background-color: #21304F;
  color: white;
  padding-top: 20px;
  min-height: 550px;
}

.table_row h3{
  margin-bottom: 10px;
}

.table_row th{
  padding: 8px;
  font-size:17px;
  font-weight: 550;
}

.table_row td{
  font-size: 15px;
  padding: 5px 8px;
}

.more_info{
  color:lightskyblue;
}

/* popup stuff */

#popup-container{
  position: relative;
}

.popup .popuptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  position: fixed;
  position: absolute;
  background-color: rgba(0,0,0,.5);
  
  margin: auto;
  height: 100%;
  width: 100%;

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
 
}

/* Toggle - Hide and show the popup */
.popup .show {
  visibility: visible;
}

/* Popup Content */
.card-container{
  width:400px;
  margin: auto;
  margin-top:40px;
  border-radius: 5px;
  background-color:white;
  color:black;
  border: 2px solid grey;
  overflow:hidden;
}

.image-popup{
  width:400px;
  height:400px;
}

.artist_name{
  font-weight: 700px;
  font-size:18px;
  padding: 13px;
}

.spotify_id{
  font-size:10px;
  color: #21304F;
  width: 95%;
  padding-left: 13px;
  padding-top:6px;
  padding-bottom:6px;
}

.genre{
  font-size:13px;
  color:lightslategray;
  width: 95%;
  padding-left: 13px;
  padding-top:6px;
  padding-bottom:6px;
}

.followers{
  font-size:13px;
  width: 95%;
  color:lightslategray;
  padding-left: 13px;
  padding-top:6px;
  padding-bottom:15px;
}

.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
  line-height: 1.5;
  font-weight: 400;
  font-family:"avenir next", Arial, sans-serif;
  padding: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: #FFA500;
  border-radius: 1px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {      
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  pointer-events: none;
  
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.details{
  color: white;
}

.col-sm-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.msg_container{
  display: none;
}

@media only screen and (max-width: 750px) {
  .desapire{
    display: none;
  }
  .msg{
    background-color: white;
    border-radius: 40px;
    color:black;
    padding:30px;
    margin:auto;
    margin-top:10px;
    width:90%;
    font-family: 'PT Sans Narrow', sans-serif;
  }

  .msg_container{
    display: unset;
    width:80%;
    
    
  }
  
}
